@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    background-image: url("image/bodybackground.jpg");
}
.box {
    background-image: url("image/lottery.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4.761904761904762vh;
    height: 70vh;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20vh;
    margin-bottom: 9vh;
    border-radius: 6.5476190476190474vh;
    -webkit-box-shadow: -0.9523809523809523vh -1.1904761904761905vh 4.0476190476190474vh 0.35714285714285715vh rgba(0,0,0,0.34); 
    box-shadow: -0.9523809523809523vh -1.1904761904761905vh 4.0476190476190474vh 0.35714285714285715vh rgba(0,0,0,0.34);
    font-family: "Montserrat", sans-serif;
}
.box h1 {
    text-align: center;
    padding-top: 3.5714285714285716vh;
    padding-bottom: 3.5714285714285716vh;
    font-family: "Montserrat", sans-serif;
    font-size: 5.9523809523809526vh;
    color: white;
}
.boxhead {
    width: 100%;
    background-color: #7B68EE;
    border-top-right-radius: 5.9523809523809526vh;
    border-top-left-radius: 5.9523809523809526vh;
    border-bottom: 0.23809523809523808vh solid blueviolet;
}
.split {
    text-align: center;
    height: 28vh;
}
.eth {
    float: left;
    width: 50%;
    height: 100%;
}
.leko {
    float: left;
    width: 50%;
    height: 100%;
}
.split h2 {
    font-size: 4vh;
    padding-top: 4vh;
}
.split h3 {
    font-size: 3vh;
    padding-top: 1vh;
}
.split button {
    padding-left: 6vh;
    padding-right: 6vh;
    font-size: 4vh;
    color: white;
    background-color: #7B68EE;
    border: none;
    font-family: "Montserrat", sans-serif;
    border-radius: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
}
.split button:hover {
    background-color: rgb(86, 200, 245);
}
input[type="text"]#LEKOtext{
    -webkit-appearance: none!important;
    color: black;
    text-align: center;
    width: 10%;
    border: 0.11904761904761904vh solid gray;
    margin: 0 0 0 -0.8333333333333334vh;
    border-left-color: white ;
    background: white;
    padding-top: 1.1904761904761905vh;
    padding-bottom: 1.1904761904761905vh;
    font-size: 3.5714285714285716vh;
    border-bottom-right-radius: 1.1904761904761905vh;
    border-top-right-radius: 1.1904761904761905vh;
}
input[type="number"]#amount{
    -webkit-appearance: none!important;
    border: 0.11904761904761904vh solid gray;
    border-right: 0px;
    outline: none;
    text-align: center;
    margin-left: 19.047619047619047vh;
    border-right-color: white;
    width: 50%;
    padding-top: 1.1904761904761905vh;
    padding-bottom: 1.1904761904761905vh;
    font-size: 3.5714285714285716vh;
    border-bottom-left-radius: 1.1904761904761905vh;
    border-top-left-radius: 1.1904761904761905vh;
}
.stake button {
    color: white;
    background-color: #7B68EE;
    border: none;
    font-family: "Montserrat", sans-serif;
    border-radius: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 3.5714285714285716vh;
    width: 14%;
}
.stake button:hover {
    background-color: rgb(86, 200, 245);
}
.stake h2 {
    text-align: center;
    font-size: 4vh;
    padding-top: 2vh;
    padding-bottom: 4vh;
}
#txinfo {
    font-size: 2.3942857142857143vh;
    text-align: center;
    padding-top: 2vh;
}